.header-class {
  background-color: rgb(8, 68, 105);
  display: grid;
  padding: 10px 0;
  border-bottom: 2px solid blueviolet;
}
.button-class {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title {
  margin-top: 10px;
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.algo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px;
}

.algo-label {
  color: white;
  margin-bottom: 4px;
}

.select {
  width: 10rem;
  height: 30px;
  border-radius: 10px;
}
